[submodule "third_party/NewCRFs"]
	path = third_party/NewCRFs
	url = https://github.com/aliyun/NeWCRFs
[submodule "third_party/RAFT"]
	path = third_party/RAFT
	url = https://github.com/princeton-vl/RAFT
[submodule "third_party/pyk4a"]
	path = third_party/pyk4a
	url = https://github.com/etiennedub/pyk4a.git
